{{#if connectedUser}}
{{> miniNav}}
{{/if}}
<div class="main-table">
    <title>Puzzles</title>
    <a href="/puzzles/create">Create a puzzle</a>

{{#each puzzles}}
<div class="container">
    <div class="template">
        <div class="content">
            <h3>Title: <span>{{title}}</span> </h3>
            <h3>Design: <span>{{author}}</span> </h3>
        </div>
        <div class="miniature">
        <input type="hidden" id="colors" name="colors" value={{colors}}> 
        <input type="hidden" id="items" name="items" value={{items}}> 
        <input type="hidden" id="startRow" name="startRow" value={{startRow}}> 
        <input type="hidden" id="startCol" name="startCol" value={{startCol}}> 
        <input type="hidden" id="startDir" name="startDir" value={{startDir}}> 
        </div>
        {{!-- <div class="puzzle-picture">
            <img src="/images/maze.png" alt="example puzzle">
        </div> --}}
        <div>
            <a href="/puzzles/play/{{this._id}}">play</a>
        </div>
    </div>
</div>
{{/each}}

</div>

<script src="/js/miniature.js"></script>
